.p_table {
  /* border: 1px solid black; */
  margin: 20px auto;
  width: 700px;
  font-size: 2rem;
  text-align: center;
  position: relative;
  /* border-radius: 5px; */
}

.p_table .p_table_col {
  border: 1px solid black;
  height: 80px;
  margin: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
.danger {
  border-radius: 100%;
  position: absolute;
  top: 12px;
  right: 30px;
}
.large {
  width: 7rem;
  height: 3rem;
  font-size: 2rem;
  padding: 4px;
}
@media (max-width: 729px) {
  .p_table {
    margin: 10px auto;
    width: 300px;
    font-size: 1rem;
    text-align: center;
    position: relative;
    /* border-radius: 5px; */
  }

  .p_table .p_table_col {
    border: 1px solid black;
    height: 40px;
    margin: 15px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .danger {
    border-radius: 10px;
    position: absolute;
    top: 5px;
    right: 20px;
  }
  .large {
    width: 4rem;
    height: 2rem;
    font-size: 1rem;
    padding: 4px;
  }
}
