<%- include('../includes/head.ejs') %>
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"
></script>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<script src="/js/bootstrap.js"></script>
<link rel="stylesheet" href="/css/main.css" />
<script
src="https://kit.fontawesome.com/7679c6f733.js"
crossorigin="anonymous"
></script>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>

        <div class="jumbotron">
            <h1 class="display-4">EasyGO</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, dolorem. Labore veniam enim animi ipsum natus rerum id saepe praesentium?</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, magnam?</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/products" role="button">Shop Now</a>
            </p>
          </div>

          <section id="clients" class="py-1">
            <div class="container">
              <h2 class="m-heading text-center">
                <span class="text-primary">Our</span> Clients
              </h2>
      
              <div class="items py-1">
                <div><img src="/logos/logo1.png" alt="Client" /></div>
                <div><img src="/logos/logo2.png" alt="Client" /></div>
                <div><img src="/logos/logo3.png" alt="Client" /></div>
                <div><img src="/logos/logo4.png" alt="Client" /></div>
                <div><img src="/logos/logo5.png" alt="Client" /></div>
              </div>
            </div>
          </section>
          


            
        </main>

<%- include('../includes/end.ejs') %>